<!DOCTYPE html>
<html>
<head>
    <title>Termux Web CLI</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='estilo.css') }}">
</head>
<body>
    <h1>KanedaSec Hacking Central</h1>
    
    <form method="POST">
        <button name="command" value="shutdown_server">Shut Down Server</button>
        <button name="command" value="list_txt_files">List reports Files</button>
        <br>

        {% if txt_files %}
        <h2>Reports:</h2>
        <ul>
            {% for txt_file in txt_files %}
            <li>
                {{ txt_file }}
                <button name="command" value="cat_txt_file:{{ txt_file }}">View Contents</button>
                <button name="command" value="delete_txt_file:{{ txt_file }}">Delete File</button>
            </li>
            {% endfor %}
        </ul>
        {% endif %}

        {% if file_contents %}
        <h2>File Contents:</h2>
        <pre>{{ file_contents }}</pre>
        <a href="/">Back to List</a>
        {% endif %}

        {% if file_name %}
        <h2>File: {{ file_name }}</h2>
        {% endif %}
    </form>
</body>
</html>
